 .u-section-1 {
  background-image: url("images/church1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-text-1 {
  width: 817px;
  margin: 23px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1052px;
  margin: 23px auto 0 29px;
}

.u-section-1 .u-image-1 {
  min-height: 386px;
  background-image: url("images/about1.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 386px;
  background-image: url("images/about2.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 23px 615px 0 59px;
}

.u-section-1 .u-text-3 {
  margin: -230px 89px 42px 585px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 116px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 345px;
  }

  .u-section-1 .u-image-2 {
    min-height: 345px;
  }

  .u-section-1 .u-text-2 {
    width: 638px;
    margin-left: 0;
    margin-right: 474px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 474px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 607px;
  }

  .u-section-1 .u-image-1 {
    min-height: 264px;
  }

  .u-section-1 .u-image-2 {
    min-height: 264px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
    margin-right: 254px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 427px;
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 459px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 74px;
    margin-bottom: -322px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1688px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 301px;
  }

  .u-section-1 .u-image-2 {
    min-height: 306px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}